
<div class="main">

<div class="aucun" *ngIf="!personne">
  <h1>AUCUN CV SELECTIONNEE</h1>
  <img src="../../../assets/images/NO-CV.jpg" width="70%" height="50%" >
</div>
  <mat-card class="head" *ngIf="personne" >
    <div class="gauche">
    <div class="item">
      <span>ID : {{personne.id}}</span>
    </div>
    <div class="item">
      <span>Name : {{personne.name}}</span>
    </div>
    <div class="item">
      <span>firstname : {{personne.firstname}}</span>
    </div>


      <div class="item">
        <button (click)= "addCV()" mat-raised-button color="warn">Embaucher</button>
      </div>

  </div>

  <div class="droit">
    <div class="item">
      <span>age :  {{personne.age}}</span>
    </div>
    <div class="item">
      <span>cin : {{personne.cin}}</span>
    </div>
    <div class="item">
    <img src="../../../assets/images/{{personne.path|img}}" width="100rem" height="100rem" class="img">
  </div>
</div>





  </mat-card>




</div>
